{% set title = "Contacts Us" %}

{% set description = "The easiest way is to call the phone right now" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="contacts center">

		<h1 class="h2">
			Contacts Us
		</h1>

		<div class="contacts__box">

			<div class="contacts__text">

				<p>
					The easiest way is to call the phone right now
				</p>

				<a href="tel:+380664909300" class="contacts__tel">
					+38 (066) 490 93 00
				</a>

				<p>
					If you love correspondence, our email
				</p>

				<a href="mailto:hello@applica.com.ua" class="contacts__mail">
					hello@applica.com.ua
				</a>

				<ul class="social">

					<li class="social__item">
						<a class="social__link social__link--vk" href="" target="_blank" rel="nofollow">
							VK
						</a>
					</li>

					<li class="social__item">
						<a class="social__link social__link--facebook" href="" target="_blank" rel="nofollow">
							Facebook
						</a>
					</li>

					<li class="social__item">
						<a class="social__link social__link--instagram" href="" target="_blank" rel="nofollow">
							Instagram
						</a>
					</li>

				</ul>

			</div>

			<form action="/mail.php" class="contacts__form form" novalidate="novalidate" autocomplete="off" data-ok="Спасибо. В ближайшее время с вами свяжется наш менеджер.">

				<input name="subject" type="hidden" value="Contacts Us">

				<div class="form__box">

					<div class="input-box">
						<label class="input-box__label" for="name">
							Name
						</label>
						<input name="name" class="input" id="name">
					</div>

					<div class="input-box input-box--error" data-error="Fill in all fields correctly">
						<label class="input-box__label" for="phone">
							Telephone
						</label>
						<input name="phone" class="input" type="tel" id="phone" value="0 (50) 490-93-0">
					</div>

					<div class="input-box">
						<label class="input-box__label" for="message">
							Message
						</label>
						<textarea name="message" class="input" id="message"></textarea>
					</div>

					<button class="btn btn--arrow">
						Send
						<svg width="19" height="13" viewBox="0 0 19 13">
							<g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(1.5 .5)">
								<path d="M0 6L16 6M16 6L10.9377422.937742233"/>
								<path d="M16,11 L10.9377422,5.93774223" transform="matrix(1 0 0 -1 0 16.938)"/>
							</g>
						</svg>
					</button>

				</div>

			</form>

		</div>

	</article>

{% endblock %}