{% set title = "Blog Applica" %}

{% set description = "Blog about mobile applications" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="blog">

		<div class="center">

			<div class="blog__header">

				<h1 class="h1">
					Blog about mobile applications
				</h1>

				<p>
					I saw that many designers (especially in dribbble) made a daily user interface, I really liked the idea, but the problem was that the result was just something nice and did not solve any problem
				</p>

				<ul class="blog__filter">
					<li>
						<a class="btn btn--small" href="/">All posts</a>
					</li>
					<li>
						<a class="btn btn--small btn--gray" href="/">Development</a>
					</li>
					<li>
						<a class="btn btn--small btn--gray" href="/">Design</a>
					</li>
					<li>
						<a class="btn btn--small btn--gray" href="/">Digest</a>
					</li>
					<li>
						<a class="btn btn--small btn--gray" href="/">iPhone</a>
					</li>
					<li>
						<a class="btn btn--small btn--gray" href="/">iPad</a>
					</li>
					<li>
						<a class="btn btn--small btn--gray" href="/">Watch</a>
					</li>
					<li>
						<a class="btn btn--small btn--gray" href="/">Android</a>
					</li>
					<li>
						<a class="btn btn--small btn--gray" href="/">Other</a>
					</li>
				</ul>

			</div>

		</div>

	</article>

{% set list = [
	{
		title: "How to write the right letter to  the development studio",
		link: "Spotify-App-for-macOS-Mojave-Sketch-Resource",
		img: "1",
		text: "What to write about yourself and your  project in the first letter, so that the  studio does not pass by?"
	},
	{
		title: "Design Lynch: a new version  of&nbsp;Skype",
		link: "Spotify-App-for-macOS-Mojave-Sketch-Resource",
		img: "2",
		text: "Paper 53, Tayasui Sketches, Procreate  and Medibang Paint - what to choose?  Designer&apos;s opinion"
	},
	{
		title: "Digest of the Internet of  things: October 2017",
		link: "Spotify-App-for-macOS-Mojave-Sketch-Resource",
		img: "3",
		text: "We run it reluctantly, but we can not  do without it yet - Skype, now in a new  design. Comparing with the…"
	},
	{
		title: "How to write the right letter to the development studio",
		link: "Spotify-App-for-macOS-Mojave-Sketch-Resource",
		img: "4",
		text: "What to write about yourself and your project in the first letter, so that the studio does not pass by?"
	},
	{
		title: "Design Lynch: a new version of Skype",
		link: "Spotify-App-for-macOS-Mojave-Sketch-Resource",
		img: "5",
		text: "Paper 53, Tayasui Sketches, Procreate and Medibang Paint - what to choose? Designer's opinion"
	},
	{
		title: "Digest of the Internet of things: October 2017",
		link: "Spotify-App-for-macOS-Mojave-Sketch-Resource",
		img: "6",
		text: "We run it reluctantly, but we can not  do without it yet - Skype, now in a new  design. Comparing with the…"
	}
] %}

{% set btnLoading = true %}

{% include "_include/list-article.html" %}

{% endblock %}