{% set title = "Как прожить до зарплаты на 5 000 рублей вдвоём?" %}

{% set description = "«Центрофинанс» делится советами, как двум людям прожить 21 день, если занять у нас 5 000 рублей." %}

{% set headline = "В жизни возникают ситуации, когда приходится затянуть пояса потуже или иными словами – включить режим максимальной экономии" %}

{% set urlCurrent = "blog-item.html" %}
{% set ogType = "article" %}
{% set ogImage236 = "img/article/og--236x236.jpg" %}
{% set ogImage = "img/article/og--1200x460.jpg" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="article blog">

		<header class="header-blog">

			<div class="article__column">

				<div class="header-blog__head">

					<time class="header-blog__date" datetime="2018-11-07">
						Опубликовано: 7 Ноября 2018
					</time>

					<ul class="header-blog__stat">
						<li>
							<button type="button" class="header-blog__stat-like button">
								<b class="header-blog__stat-count">21</b>
								<span class="hidden-visible">лайков</span>
							</button>
						</li>
						<li>
							<b class="header-blog__stat-count">473</b>
							<span class="hidden-visible">просмотров</span>
						</li>
					</ul>

				</div>

				<h1 class="h2">
					{{ title }}
				</h1>

				<p class="header-blog__intro">
					{{ headline }}
				</p>

			</div>

			<div class="header-blog__img">

				<picture>

					<source srcset="https://centrofinans.ru/upload/webp_cache/052/470.webp 1x, https://centrofinans.ru/upload/webp_cache/227/940.webp 2x" media="(max-width: 479px)" type="image/webp">
					<source srcset="https://centrofinans.ru/upload/iblock/052/470.jpg 1x, https://centrofinans.ru/upload/iblock/227/940.jpg 2x" media="(max-width: 479px)">
					<source srcset="https://centrofinans.ru/upload/webp_cache/278/750.webp 1x, https://centrofinans.ru/upload/webp_cache/b18/1550.webp 2x" media="(max-width: 767px)" type="image/webp">
					<source srcset="https://centrofinans.ru/upload/iblock/278/750.jpg 1x, https://centrofinans.ru/upload/iblock/b18/1550.jpg 2x" media="(max-width: 767px)">
					<source srcset="https://centrofinans.ru/upload/webp_cache/227/940.webp 1x, https://centrofinans.ru/upload/webp_cache/4f9/1880.webp 2x" type="image/webp">
					<source srcset="https://centrofinans.ru/upload/iblock/227/940.jpg 1x, https://centrofinans.ru/upload/iblock/4f9/1880.jpg 2x">
					<img src="https://centrofinans.ru/upload/iblock/227/940.jpg" alt="Как прожить до зарплаты на 5 000 рублей вдвоём?">

				</picture>

				<ul class="tags">
					<li class="tags__item"><a href="/">Совет</a></li>
					<li class="tags__item"><a href="/">Лайфхак</a></li>
				</ul>

			</div>

		</header>

		<div class="article__column">

			<div class="article__content">

				<blockquote>Неважно, куда вы потратили всю свою месячную зарплату, уже ничего не изменить, но до следующей «получки» еще целых три недели, и их нужно как-то прожить не выпадая из повседневной жизни.</blockquote>

				<h1>«Центрофинанс» делится советами, как двум людям прожить 21 день, если занять у нас 5 000 рублей.</h1>

				<p style="text-align: center;">
				<img src="https://centrofinans.ru/upload/medialibrary/a05/кошелёк.jpg" title="Как быть, если нет денег?" alt="Совет Центрофинанс как быть, если совсем нет денег?">
				</p>

				<h2>Основные статьи расходов</h2>

				<p>Как ни странно, финансовые трудности никак не отменяют повседневной жизни с привычными обязанностями и потребностями. К счастью, когда срочно нужны деньги, можно <a href="/products/zaimy/" target="_blank" title="Оформить онлайн-заявку на заём">взять микрозайм</a>. В «Центрофинанс» переплата <em>для новых клиентов</em> за пользование заёмными деньгами в размере 5 000 ₽ за 21 день составляет 700 рублей.</p>

				<p>Очевидно, что придётся отложить  до лучших времён посиделки с друзьями после работы, отказаться от доступного в других ситуациях досуга в виде походов в кино или на выставки, не говоря уже о поездках за город или шопинге. Но минимум две статьи расходов никак не вычеркнуть на эти три недели, это — <em>питание и проезд на общественном транспорте</em> на работу.</p>

				<p>Говорят, что человек может прожить без еды до 25 дней, но едва ли стоит рассматривать вариант отказа от пищи, если вы не хотите заработать серьёзных проблем со здоровьем и потратить несколько следующих зарплат на восстановление организма. Настоятельно не рекомендуем радикально экономить на еде, на продовольствие придётся потратить около половины занимаемой суммы.</p>

				<p style="text-align: center;">
				<img src="https://centrofinans.ru/upload/medialibrary/af5/магазин.jpg" title="Витрина магазина" alt="Продуктовый магазин">
				</p>

				<p>Что касается второго пункта, то, разумеется, вашему работодателю абсолютно всё равно на ваши денежные проблемы. В любом случае, необходимо ходить на работу и выполнять свои обязанности. Хорошо, если офис находится в пешей доступности от дома, но, как правило, таких счастливчиков немного, поэтому, предположим, что вам всё же нужно будет добираться до работы на транспорте.</p>

				<p>Ну и, чтобы вы не умерли от скуки за этот 21 день, включим в расчёты минимальный досуг, который позволит расслабиться после напряжённой трудовой недели.</p>

				<h2>Рацион: как оставаться сытым и не спустить на продукты все деньги</h2>

				<p>Вопрос питания состоит не только в том, чтобы просто набить живот, но и не нанести урон здоровью дешёвыми и вредными продуктами. В этом пункте расходов важно не перегнуть палку, пытаясь сэкономить. <em>Главное – грамотно подойти к составлению меню.</em></p>

				<h3>Вариантов бюджетных завтраков – великое множество. Это может быть:</h3>

				<ul class="marker-circle">
				<li>овсянка на воде;</li>
				<li>яичница;</li>
				<li>варёные яйца с хлебом;</li>
				<li>бутерброды с плавленым сыром;</li>
				<li>манники.</li>
				</ul>

				<p style="text-align: center;">
				<img src="https://centrofinans.ru/upload/medialibrary/552/бутерброды.jpg" title="Бутерброды на завтрак" alt="Как приготовить недорогой завтрак?">
				</p>

				<p>Подобное меню не потребует больших денег. Например, бутерброды с плавленым сыром два человека могут есть три дня. Стоимость порезанного батона – 30-40 рублей, цена на плавленый сыр (большая упаковка) – около 150 рублей.</p>

				<p>Если брать еду на работу с собой – выйдет значительно дешевле. Несмотря на то, что первые блюда принято есть в обеденное время, лучше будет перенести эту трапезу на ужин, ведь носить с собой в сумке контейнер с жидкостью не всегда удобно. В этом случае в офис берем с собой второе. Что это может быть?</p>

				<ul>
				<li>Макароны по-флотски;</li>
				<li>пюре с сосисками;</li>
				<li>гречка с куриными ножками;</li>
				<li>рис с котлетами.</li>
				</ul>

				<p>Да, пища не ресторанная, но зато домашняя, вкусная и питательная.</p>

				<p>Стоимость макарон по-флотски будет равна примерно 350 рублям: из них 50 рублей – пачка макарон и 300 рублей – упаковка говяжьего фарша. Ну, и куда же в таком блюде без лука. Благо, одна луковица обойдется всего в несколько рублей. Такого блюда должно хватить на шесть порций, а это три обеда для двоих.</p>

				<p>Обед в виде пюре с сосисками тоже обойдется недорого. Килограмм картошки в среднем стоит около 50 рублей, а вкусные сосиски можно купить за 300 рублей. Такого рациона также может хватить на три дня.</p>

				<p style="text-align: center;">
				<img src="https://centrofinans.ru/upload/medialibrary/e4c/сосиски-с-пюрешкой.jpg" title="Сосиски с пюрешкой" alt="На обед сосиски с пюре">
				</p>

				<p>Оставшиеся две позиции также вполне впишутся в эконом-меню и не нанесут особого удара по карману.</p>

				<p>Вернёмся к первым блюдам, которые в ближайшие три недели будут служить ужином. Уж здесь-то любая хозяйка сможет придумать массу доступных по деньгам и одновременно вкусных вариантов. Например, из одного лотка куриного супового набора, цена которого обычно 80-100 рублей, запросто можно сварить целых две кастрюли супа. В первый раз это может быть куриный суп с картошкой и вермишелью, а во второй – с картошкой и рисом. Цена упаковки недорогого риса – около 50 рублей. В суп его нужно совсем немного, поэтому остальное можно использовать в качестве гарнира для вторых блюд. Вермишель можно найти еще дешевле – за 30-40 рублей, здесь ситуация та же, что и с рисом.</p>

				<p>Период экономии – отличное время сварить любимый всеми россиянами борщ. Пусть на сей раз он будет постным – это демократичнее, но никак не делает его менее вкусным. Все ингредиенты, входящие в состав этого «красного супа», по цене – доступнее некуда: картошка, свекла, морковка, лук, капуста. В среднем, стоимость постного борща – около 100 рублей.</p>

				<p>Таким образом, вполне возможно прожить три недели, совсем не голодая, примерно на 2 500 рублей целых три недели.</p>

				<blockquote>Совет: не забывайте обращать внимание на акции, которые постоянно проводятся в сетевых супермаркетах. Так называемые «жёлтые ценники» могут помочь неплохо сэкономить. Также рекомендуем пользоваться мобильными приложениями, которые помогают отслеживать скидки и акции.</blockquote>

				<h2>Транспорт: как экономить, когда до работы не дойти пешком?</h2>

				<p>Итак, двум людям нужно ездить на работу и обратно на общественном транспорте в течение трёх недель. Это 15 рабочих дней. Итого получается 60 поездок. Стоимость проезда в среднем — 20 рублей. Таким образом, <em>на дорогу придётся потратить порядка 1 200 рублей</em>.</p>

				<p style="text-align: center;">
				<img src="https://centrofinans.ru/upload/medialibrary/11d/общественный-транспорт.jpg" title="Поездка на автобусе" alt="Общественный транспорт">
				</p>

				<p>Если транспортная система вашего города подразумевает возможность приобретения проездного билета, то присмотритесь к такому варианту. Как правило, проездной действует в течение 30 дней, но стоит прицениться: возможно, такая покупка принесет выгоду даже в том случае, когда ваша цель — продержаться 21 день.</p>

				<blockquote>Совет: если погода, время и настроение позволяют, прогуляйтесь в конце рабочей недели до дома пешком. Так вы сможете хоть и немного, но сэкономить. Плюс ко всему — прогулки на свежем воздухе крайне полезны.</blockquote>

				<h2>Выходные: как приятно проводить время, не спуская все деньги</h2>

				<p>Всё-таки три недели — это совсем немало, и вам, без сомнения, захочется расслабиться и отдохнуть. Для каждого это может выглядеть по-своему, поэтому попробуем рассмотреть несколько вариантов гиперэкономичного отдыха.</p>

				<h3>Просмотр сериала дома</h3>

				<p>Чтобы посмотреть что-то интересное, конечно же, не обязательно идти в кино, это можно сделать и дома. К тому же, дома вы можете это делать лёжа на любимом диване. Для того, чтобы было совсем хорошо, можно купить напитки и снеки. Лучшие купить один литр газировки на двоих, это будет выгоднее, чем приобретать две маленькие баночки. Цена литровой бутылки — около 100 рублей. Если покупать с умом, то вечер обойдется вам примерно в 150 рублей.</p>

				<h3>Пикник на природе</h3>

				<p>Когда погода позволяет — проведите субботний или воскресный завтрак на природе. Отправляйтесь в любимый парк с пледом и бутербродами. Если дома есть термос, то наливайте в него кофе или чай и берите с собой. Можете побаловать себя и газировкой.</p>

				<p style="text-align: center;">
				<img src="https://centrofinans.ru/upload/medialibrary/011/пикник.jpg" title="Отдых на пикнике" alt="Отдохнуть можно и на пикнике">
				</p>

				<h3>Бесплатные мероприятия</h3>

				<p>В любом городе можно найти бесплатные мероприятия, которые проводятся время от времени: концерты, выставки, спектакли, литературные вечера, массовые гуляния, приуроченные к различным праздникам и так далее. Попробуйте найти информацию на сайте города, позвонить в местные театры, дома культуры, а также не забывайте обращать внимание на уличные афиши.</p>

				<p>Разумеется, никто не отменял пешеходные прогулки по любимому городу — они по-прежнему совершенно бесплатны.</p>

				<hr>

				<p>Эти три недели не самые простые в жизни — вы вынуждены постоянно пресекать желание что-нибудь купить или куда-нибудь сходить. Однако, <span style="background-color: #ffff00;">прожить 21 день на 5 000 рублей, как мы видим, вполне возможно</span>, и даже без очевидных ущемлений. Но в случае, если у вас не получилось справиться с поставленной задачей или же жизнь внесла свои коррективы в виде незапланированных трат, и вам нужно больше денег, вы всегда можете <a href="/products/" target="_blank" title="Кредитные продукты «Центрофинанс»">взять микрозайм побольше</a>.</p>

				<p>Экспресс-кредит поможет вам решить текущие финансовые проблемы, а его получение не составит никакого труда. Изучите <a href="/akcii/" target="_blank" title="Список акций">специальные предложения</a>, сделайте предварительный расчёт суммы к возврату, оцените свою платёжеспособность, <a href="/products/zaimy/" target="_blank" title="Оформить онлайн-заявку на заём">оформляйте онлайн-заявку</a> и <a href="/adresa-ofisov/" target="_blank" title="Адреса офисов">приходите за деньгами</a>.</p>

				<p>Ждём вас в <a href="/kontakty/" target="_blank" title="Адреса и контакты Центрофинанс, расположение на карте">ближайшем офисе</a> «Центрофинанс»!</p>

			</div>

			<footer class="article__footer">

				<ul class="social-share">
					<li><a class="social-share__btn social-share__vkontakte" href="https://vk.com/share.php?url=http://centrofinans.ru/o-kompanii/blog/kak-prozhit-do-zarplaty-na-5-000-rubley-vdvoyem/" target="_blank" rel="nofollow">Поделиться</a></li>
					<li><a class="social-share__btn social-share__facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://centrofinans.ru/o-kompanii/blog/kak-prozhit-do-zarplaty-na-5-000-rubley-vdvoyem/" target="_blank" rel="nofollow">Поделиться</a></li>
					<li><a class="social-share__btn social-share__twitter" href="https://twitter.com/home?status=http://centrofinans.ru/o-kompanii/blog/kak-prozhit-do-zarplaty-na-5-000-rubley-vdvoyem/" target="_blank" rel="nofollow">Твитнуть</a></li>
				</ul>

				<div class="article__siblings">

					<a class="article__siblings-next" href="/" data-label="Следующая новость">
						<span class="hidden-sm">Девятый день рождения «Центрофинанс»</span>
					</a>

				</div>

			</footer>

		</div>

	</article>

{% set previewHead = "Похожие статьи" %}
{% include "_include/preview-list--related.html" %}

{% endblock %}