{% set title = "Portfolio" %}

{% set description = "Design & Dev projects completed in 4 years work" %}

{% extends "template/base.html" %}

{% block content %}

{% include "_include/breadcrumbs.html" %}

	<article class="center">

		<div class="portfolio">

			<h1 class="h1">
				{{ title }}
			</h1>

{% set portfolio = [
	{
		title: "AznToday",
		link: "",
		img: "azn",
		bg: "dark-violet",
		text: "Current information on the exchange rate of Azerbaijan <span class=\"br\"></span>in your pocket",
		appStore : true
	},
	{
		title: "Horoscope",
		link: "",
		img: "horoscope",
		bg: "dark-blue",
		text: "Unique application that <span class=\"br\"></span>allows you to know your <span class=\"br\"></span>destiny right now",
		appStore : true
	},
	{
		title: "Fitscope",
		link: "",
		bg: "dark-orange",
		text: "Fitscope connects you to talented health, fitness experts. Join Fitscope today",
		appStore : true
	},
	{
		title: "Universal Logistic",
		link: "",
		bg: "blue",
		text: "Transportation and logistics services in the Republic of&nbsp;Kazakhstan",
		appStore : true,
		googlePlay: true
	},
	{
		title: "Kids Club",
		link: "",
		bg: "red",
		text: "Mobile application for customers of the Champion Kids&nbsp;Сlub",
		appStore : true,
		googlePlay: true
	},
	{
		title: "Armenian MTV",
		link: "",
		img: "mtv",
		bg: "cherry",
		text: "Round-the-clock broadcasts <span class=\"br\"></span>of popular Armenian videos <span class=\"br\"></span>in HD format",
		platform: "googlePlay"
	},
	{
		title: "World Cup 2018",
		link: "",
		img: "word-cup-2018",
		bg: "green",
		text: "This app provides you with information about the 2018 FIFA&nbsp;World&nbsp;Cup",
		appStore : true
	},
	{
		title: "Fermer Green",
		link: "",
		img: "fermer",
		bg: "dark",
		text: "Delicious and fresh products from farmers with home <span class=\"br\"></span>delivery",
		appStore : true
	},
	{
		title: "Beauty saloon",
		link: "",
		img: "fermer",
		bg: "violet",
		text: "Mobile application for clients <span class=\"br\"></span>of the Beauty and Health Center&nbsp;\"Esthetic\"",
		appStore : true
	}
] %}

{% include "_include/portfolio.html" %}

		</div>

		<div class="portfolio__total-result">

			<h2 class="h2">
				<span>160</span> Design & Dev projects
			</h2>

			<p>
				<strong>completed in 4 years work</strong>
			</p>

			<p>
				People come to us when you need to create a great looking, thoughtful and result-based website. Our trick is to create conceptual, commercially-oriented projects that we bring to life through interactive development.
			</p>

		</div>

	</article>

{% include "_include/request.html" %}

{% endblock %}