	<div class="modal hidden-visible">

		<div class="modal__item modal__item--request hidden-visible">

			<form action="/mail.php" class="form" novalidate="novalidate">

				<input name="subject" type="hidden" value="Send a request">

				<h3 class="h1">Send a request</h3>

				<input name="name" class="input" placeholder="Name">
				<input name="phone" class="input" placeholder="Telephone" type="tel">
				<textarea name="message" class="input" placeholder="Message"></textarea>

				<button class="btn btn--arrow">
					Send
					<svg width="19" height="13" viewBox="0 0 19 13">
						<g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(1.5 .5)">
							<path d="M0 6L16 6M16 6L10.9377422.937742233"/>
							<path d="M16,11 L10.9377422,5.93774223" transform="matrix(1 0 0 -1 0 16.938)"/>
						</g>
					</svg>
				</button>

			</form>

		</div>

		<button type="button" class="modal__close modal__close-btn button">Закрыть</button>

	</div>