.article {

	margin-bottom: 70px;

	&__center {

		max-width: 756px;
		margin: auto;

	}

	&__header {

		margin-top: 30px;

		.h1 {

			line-height: 1.5;
			margin-bottom: 40px;

		}

		img {

			display: block;
			margin: 60px auto 100px;

		}

		p {

			font-family: Roboto;
			font-size: 21px;
			line-height: 36px;
			color: var(--color);

		}

	}

	&__body {

		margin-top: 30px;

		h2 {

			font-size: 40px;
			line-height: 42px;
			margin: 77px 0 33px;

		}

		h3 {

			font-size: 34px;
			line-height: 38px;
			margin-top: 71px;
			margin-bottom: 33px;

		}

		h4 {

			font-size: 28px;
			line-height: 32px;
			margin-top: 60px;
			margin-bottom: 33px;

		}


		p,
		ol,
		ul {

			font-family: Roboto;
			font-size: 18px;
			font-weight: 300;
			line-height: 30px;
			color: #6b6b6b;
			margin: 29px 0;

		}

		p + ul,
		p + ol {

			margin-top: -10px;

		}


		img {

			max-width: 100%;
			margin: 60px 0;
			display: block;

		}

		a {

			border-bottom: 1px solid color(var(--red) a(70%));
			color: var(--red);

			&:hover {

				border-bottom-color: transparent;

			}

		}

		li {

			margin: 6px 22px;

		}

		ol {

			counter-reset: headings 0;
			margin-left: 10px;

			li::before {

				position: absolute;
				top: 2px;
				left: -32px;
				counter-increment: headings 1;
				content: counter(headings, decimal);
				font-family: Rubik;
				font-size: 12px;
				font-weight: bold;
				color: #c4d3d5;

			}

		}

		ul li::before {

			position: absolute;
			top: 12px;
			left: -22px;
			content: '';
			width: 4px;
			height: 4px;
			border-radius: 1px;
			background-color: #c4d3d5;

		}

		@media ($smWidth) {


		}

	}

	&__footer {

		margin-top: 38px;

	}

}