.blog {

	&__header {

		margin: 19px 0;
		text-align: center;

		@media ($smWidth) {

			margin: 17px 0 50px;
			text-align: left;

		}

		p {

			max-width: 670px;
			font-family: OpenSans;
			font-size: 18px;
			font-weight: 300;
			line-height: 30px;
			color: var(--text);
			margin: 30px auto;

			@media ($smWidth) {

				margin: 17px 0;
				font-family: Roboto;
				font-size: 15px;
				font-weight: 300;
				line-height: 1.6;
				color: #6b6b6b;

			}

		}

	}

	&__filter {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 33px 0 83px;

		@media ($mdWidth) {

			display: none;

		}

		li {

			margin: 7px;

		}

	}

}