.blog {

	&__header {

		margin: 19px 0;
		text-align: center;

		p {

			max-width: 670px;
			font-family: OpenSans;
			font-size: 18px;
			font-weight: 300;
			line-height: 30px;
			color: var(--text);
			margin: 30px auto;

		}

	}

	&__filter {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 33px 0 83px;

		li {

			margin: 7px;

		}

	}

}