.contacts {

	.h2 {

		margin: 7px 0 40px;

		@media ($smWidth) {

			margin: 20px 0 24px;

		}

	}

	&__box {

		display: flex;
		padding-bottom: 90px;

		@media ($smWidth) {

			display: block;
			padding-bottom: 40px;

		}

	}

	&__text {

		width: 555px;
		max-width: 100%;

		p {

			font-family: OpenSans;
			font-size: 18px;
			line-height: 28px;
			font-weight: 300;
			color: #6b6b6b;
			margin: 25px 0 18px;

			@media ($smWidth) {

				font-family: Roboto;
				font-size: 15px;
				line-height: 21px;
				margin-bottom: 13px;

			}

		}

	}

	&__tel,
	&__mail {

		font-family: OpenSans;
		font-size: 22px;
		line-height: 28px;
		font-weight: 600;
		color: var(--bg);
		display: inline-block;
		margin-bottom: 20px;

		@media ($smWidth) {

			font-family: Roboto;
			font-size: 21px;
			font-weight: 500;
			line-height: 22px;
			margin-bottom: 16px;

		}

	}

	&__mail {

		color: var(--red);
		margin-bottom: 38px;
		border-bottom: 1px solid color(var(--red) a(35%));

		&:hover {

			border-bottom-color: var(--red);

		}

	}

	&__form {

		margin: 2px 0;

	}

}