* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
/* color: red !important; */

}


html {

	min-height: 100%;
	display: flex;
	flex-direction: column;

}

body {

	color: var(--color);
	min-width: 320px;
	font-size: 18px;
	line-height: 20px;
	font-family: 'Rubik', sans-serif;
	-webkit-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: scrollbar;
	position: relative;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	overflow-y: scroll;
/*
background-image: url(/css/menu-360.png);
	 	background-size: 360px auto;
		width: 360px; */
	/* IE10+ CSS styles go here */
	@media (-ms-high-contrast: none), (-ms-high-contrast: active) {

		min-height: 100vh;

	}

}

.wrapper {

	display: flex;
	flex-grow: 1;
	position: relative;
	flex-direction: column;

}

a {

	color: var(--color);
	text-decoration: none;

	&:hover {

		cursor: pointer;
		text-decoration: none;

	}

}

.link {

	color: var(--red);
	text-decoration: underline;

	&:hover {

		cursor: pointer;
		text-decoration: none;

	}

}

::selection {

	color: #fff;
	background: #f8e71c;

}

img {

	border: 0;
	position: relative;
	vertical-align: top;

}

li {

	list-style: none;
	position: relative;

}

svg {

	display: block;

}

.h1 {

	font-size: 50px;
	line-height: 60px;
	font-weight: 700;

	@media ($smWidth) {

		font-size: 23px;
		line-height: 33px;

	}

}

.h2 {

	font-size: 42px;
	line-height: 50px;
	font-weight: 700;

	@media ($smWidth) {

		font-size: 23px;
		line-height: 33px;

	}

}

.h3 {

	font-size: 30px;
	line-height: 45px;
	font-weight: 700;

	@media ($smWidth) {

		font-size: 24px;
		line-height: 28px;

	}

}

.h4 {

	font-size: 18px;
	line-height: 29px;
	font-weight: 700;

	@media ($smWidth) {

		font-size: 16px;
		line-height: 24px;

	}

}

/*
-----------------------------------------------------------------------------*/
.notsel {

	user-select: none;

}


main,
header,
footer,
section,
article,
aside,
time {

	display: block;
	position: relative;

}


.main {

	flex-grow: 1;
	display: flex;
	flex-direction: column;

}


/* hidden
-----------------------------------------------------------------------------*/
.hide {

	display: none !important;

}

.hidden-visible {

	position: absolute !important;
	top: 0;
	left: 0;
	opacity: 0 !important;
	width: 0 !important;
	height: 0 !important;
	z-index: -1 !important;
	overflow: hidden;

}

.text-ellipsis {

	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;

}

.white-space_nowrap {

	white-space: nowrap;

}