.footer {

	flex-shrink: 0;
	padding: 140px 0;
	text-align: center;
	background-color: var(--bg);

	&__head {

		font-family: OpenSans;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		color: #fff;
		margin-bottom: 12px;

	}

	&__btn {

		height: 98px;
		font-size: 80px;
		font-weight: bold;
		color: #fff;
		border-bottom: 3px solid var(--red);

		&:hover {

			border-bottom-color: transparent;

		}

	}

}