.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	cursor: pointer;

	&:focus {

		outline: none;

	}

}

.btn {

	border-radius: 4px;
	font-family: inherit;
	font-weight: 600;
	display: block;
	text-align: center;
	position: relative;

	white-space: nowrap;
	color: #fff;
	border: 0;
	background-color: var(--red);

	height: 70px;
	line-height: 70px;
	padding: 0 30px;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;

	@media ($smWidth) {

		height: 50px;
		line-height: 50px;
		padding: 0 20px;
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 0.8px;

	}

	&--arrow {

		padding-right: 65px;

		svg {

			position: absolute;
			top: 28px;
			right: 28px;
			stroke: #fff;

			@media ($smWidth) {

				display: none;

			}

		}

	}

	&--gray {

		color: var(--color);
		background-color: #f2f2f2;

	}

	&--small {

		font-size: 16px;
		border-radius: 3px;
		font-family: OpenSans;
		font-weight: 300;
		height: 50px;
		line-height: 50px;
		padding: 0 16px;
		letter-spacing: 0;
		text-transform: none;

	}

	&:hover {


	}

}


.input {

	height: 80px;
	border-radius: 0;

	background-color: transparent;
	border: 0;
	padding: 26px 0;

	width: 100%;
	font-family: inherit;
	position: relative;
	-webkit-appearance: none;
	display: block;
	color: var(--bg);
	font-family: OpenSans;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;

	&--error {

		color: var(--red);
		border-bottom-color: var(--red);

	}

	textarea& {

		resize: none;
		height: 146px;
		overflow: auto;

	}

	&::placeholder {

		color: var(--bg);
		opacity: 1;

	}

	&:focus::placeholder {

		color: var(--bg);
		opacity: .4;

	}

	&::-ms-clear {

		display: none;

	}

	&:-webkit-autofill {

		box-shadow: inset 0 0 0 100px #fff;

	}

	&:focus {

		outline: none;

	}

}

.form {

	width: 476px;
	position: relative;

	@media ($mdWidth) {

		width: 100%;

	}

	.btn {

		margin-top: 60px;

		@media ($smWidth) {

			width: 100%;
			margin-top: 40px;
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: 0.9px;
			line-height: 60px;
			height: 60px;
			border-radius: 6px;

		}

	}

	&--ok &__box {

		pointer-events: none;
		opacity: 0;

	}

	&--ok::after {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: attr(data-ok);
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

	}

}

.input-box {

	display: flex;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 4px;
	position: relative;

	@media ($mdWidth) {

		margin-bottom: 3px;

	}

	&__label {

		width: 116px;
		height: 80px;
		line-height: 80px;
		flex-shrink: 0;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;

		@media ($mdWidth) {

			font-size: 13px;
			width: 100px;

		}

	}

	.input {

		width: calc(100% - 116px);
		top: 1px;

		&:focus {

			border-bottom: 1px solid var(--color);

		}

		@media ($mdWidth) {

			width: calc(100% - 100px);

		}

	}

	&--error {

		.input {

			color: var(--red);
			border-bottom: 1px solid var(--red) !important;

		}

		&[data-error]::after {

			position: absolute;
			top: 60px;
			left: 116px;
			right: 0;
			content: attr(data-error);
			font-size: 12px;
			font-weight: 300;
			line-height: 16px;
			color: var(--red);

			@media ($mdWidth) {

				left: 100px;

			}

		}

	}

	&--textarea {

		display: block;

	}

	&--textarea  &__label {

		border-bottom: 0;

	}

}