.header {

	flex-shrink: 0;
	z-index: 2;
	white-space: nowrap;

	.center {

		display: flex;
		align-items: center;
		padding: 38px 0;

		@media ($mdWidth) {

			padding: 15px 5px;

		}

	}

	&__logo {

		fill: var(--bg);
		margin-bottom: 3px;
		margin-right: 18px;

	}

	&__btn {

		padding-right: 65px;

		svg {

			position: absolute;
			top: 28px;
			right: 28px;

		}

	}

	&__nav {

		display: flex;
		margin: auto;

	}

	&__lang {

		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		width: 94px;
		margin-left: 44px;
		flex-shrink: 0;

		&::before,
		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			width: 24px;
			height: 12px;
			border-radius: 6px;
			margin: auto;
			background-color: var(--bg);

		}

		&::after {

			width: 8px;
			height: 8px;
			background-color: #fff;

		}

		&--en::after {

			transform: translateX(6px);

		}

		&--ru::after {

			transform: translateX(-8px);

		}

		a {

			font-weight: 300;
			color: var(--text);
			font-size: 14px;
			text-transform: uppercase;
			font-family: Roboto;

		}

	}

}

.menu {

	display: flex;

	a {

		display: block;
		font-weight: 300;
		color: var(--text);

	}

	&__item {

		& > a {

			font-size: 14px;
			text-transform: uppercase;
			font-family: Roboto;
			padding: 10px 26px;

		}

	}

	&__item:hover &__sub {

		display: block;

	}

	&__sub {

		position: absolute;
		top: 100%;
		left: 0;
		padding: 25px 20px 25px 15px;
		padding-left: 11px;
		z-index: 2;
		display: none;
		border-radius: 5px;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
		background-color: #fff;

		a {

			font-family: OpenSans;
			font-size: 15px;
			line-height: 18px;
			display: flex;
			align-items: flex-start;

			span {

				padding: 10px 15px;

			}

			&:hover span {

				border-radius: 5px;
				background-color: color(#dde3e9 a(35%));

			}

		}

	}

}

@media ($mdWidth) {

	.menu-show {

		background-color: var(--color);

		.main,
		.footer {

			display: none;

		}

		.header {

			flex-grow: 1;
			background-color: var(--color);
			padding-bottom: 40px;

			&__logo,
			&__btn-lk {

				display: none;

			}

			&__nav {

				display: block;
				padding: 0;

			}

		}

	}

}