.header {

	flex-shrink: 0;
	z-index: 2;
	white-space: nowrap;

	.center {

		display: flex;
		align-items: center;
		padding: 38px 0;

		@media ($mdWidth) {

			width: auto;
			padding: 30px;

		}

		@media ($smWidth) {

			padding: 20px 0;

		}

	}

	&__logo {

		margin-bottom: 3px;
		margin-right: 18px;

		@media ($mdWidth) {

			margin-right: auto;

		}

		@media ($smWidth) {

			margin-left: 20px;
			margin-bottom: -6px;

		}

		svg {

			fill: var(--bg);

			@media ($smWidth) {

				width: 79px;
				height: 26px;

			}

		}

		&--center {

			margin: auto !important;
			display: block;

		}

	}

	&__btn-menu-toggle {

		width: 50px;
		height: 50px;
		position: relative;
		font-size: 0;
		color: transparent;
		margin-left: 30px;

		@media ($smWidth) {

			margin: 0 4px;

		}

		span,
		&::after,
		&::before {

			position: absolute;
			width: 36px;
			height: 3px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			background-color: var(--bg);
			transition: .5s;

			@media ($smWidth) {

				width: 18px;
				height: 2px;

			}

		}

		.menu-show & span {

			width: 0;

		}

		&::after {

			bottom: 20px;
			content: '';

			@media ($smWidth) {

				bottom: 10px;

			}

			.menu-show & {

				background-color: #fff;
				transform: rotate(45deg);
				bottom: 0;

			}

		}

		&::before {

			top: 20px;
			content: '';

			@media ($smWidth) {

				top: 10px;

			}

			.menu-show & {

				background-color: #fff;
				transform: rotate(-45deg);
				top: 0;

			}

		}

	}

	&__nav {

		display: flex;
		margin: auto;

		@media ($mdWidth) {

			display: none;

		}

	}

	&__lang {

		margin-left: 44px;
		display: flex;
		align-items: center;

	}

}

.lang {

	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 94px;
	flex-shrink: 0;

	&::before,
	&::after {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		width: 24px;
		height: 12px;
		border-radius: 6px;
		margin: auto;
		background-color: var(--bg);

	}

	&::after {

		width: 8px;
		height: 8px;
		background-color: #fff;

	}

	&--en::after {

		transform: translateX(6px);

	}

	&--ru::after {

		transform: translateX(-6px);

	}

	a {

		font-weight: 300;
		color: var(--text);
		font-size: 14px;
		text-transform: uppercase;
		font-family: Roboto;

	}

	&--white {

		a {

			font-family: OpenSans;
			color: #fff;

		}

		&::before {

			background-color: #fff;

		}

		&::after {

			background-color: var(--bg);

		}

	}

}