.home-we-build {

	padding: 0 0 141px;

	@media ($smWidth) {

		padding: 0 0 16px;

	}

	.h1 {

		margin-bottom: 20px;

		@media ($smWidth) {

			font-size: 24px;
			margin-bottom: 14px;

		}

	}

	p {

		font-family: OpenSans;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		color: var(--text);
		max-width: 530px;

		@media ($smWidth) {

			font-size: 15px;
			font-weight: 300;
			line-height: 1.6;

		}

	}

	ul {

		display: flex;
		flex-wrap: wrap;
		margin-top: 8px;
		justify-content: space-between;

		@media ($smWidth) {

			display: block;
			margin-top: 35px;

		}

	}

	li {

		width: 575px;
		padding: 55px 20px 0 65px;

		@media ($smWidth) {

			width: auto;
			padding: 0 0 34px;
			font-size: 15px;
			font-weight: 300;
			line-height: 1.6;

		}

	}

	.h4 {

		margin-bottom: 14px;
		display: block;

		@media ($smWidth) {

			height: 40px;
			padding: 9px 0 0 60px;
			margin-bottom: 13px;

		}

	}

	&__ico {

		position: absolute;
		width: 40px;
		height: 40px;
		top: 49px;
		left: 0;
		content: '';
		background-color: #000;
		display: flex;
		justify-content: center;
		align-items: center;
		fill: #fff;
		border-radius: 4px;

		@media ($smWidth) {

			top: 0;

		}

		&--red {

			background-color: var(--red);

		}

		&--violet {

			background-color: #864cea;

		}

		&--green {

			background-color: #39dfc4;

		}

		&--blue {

			background-color: #4ea4ff;

		}

	}

}