.home-card {

	margin: -5px;
	display: flex;
	flex-wrap: wrap;

	&__item {

		margin: 5px;

		&--red {

			background-color: var(--red);

		}

		&--orange {

			background-color: #ffa04e;

		}

		&--violet {

			background-color: #864cea;

		}

		&--blue {

			background-color: #4ea4ff;

		}

	}

	&__link {

		color: #fff;
		padding: 60px;
		width: 580px;
		height: 330px;
		display: block;

	}

	.h3 {

		margin: 3px 0 10px;

	}

	p {

		font-family: Roboto;
		font-size: 16px;
		font-weight: 300;
		line-height: 21px;
		height: 94px;
		width: 230px;

	}

	&__cat {

		opacity: 0.5;
		font-size: 11px;
		line-height: 2;
		display: block;
		font-weight: 700;
		text-transform: uppercase;

	}

	&__platform {

		font-size: 14px;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		display: block;
		position: relative;
		margin-top: 13px;
		padding-left: 32px;
		line-height: 24px;

		svg {

			position: absolute;
			top: 0;
			left: 0;
			opacity: .5;
			fill: #fff;

		}

	}

	&__img {

		position: absolute;
		right: 55px;
		bottom: 0;

	}

}