.home-we-build {

	padding: 0 0 141px;

	.h1 {

		margin-bottom: 20px;

	}

	p {

		font-family: OpenSans;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		color: var(--text);
		max-width: 530px;

	}

	ul {

		display: flex;
		flex-wrap: wrap;
		margin-top: 8px;
		justify-content: space-between;

	}

	li {

		width: 575px;
		padding: 55px 20px 0 65px;

	}

	.h4 {

		margin-bottom: 14px;
		display: block;

	}

	&__ico {

		position: absolute;
		width: 40px;
		height: 40px;
		top: 49px;
		left: 0;
		content: '';
		background-color: #000;
		display: flex;
		justify-content: center;
		align-items: center;
		fill: #fff;
		border-radius: 4px;

		&--red {

			background-color: var(--red);

		}

		&--violet {

			background-color: #864cea;

		}

		&--green {

			background-color: #39dfc4;

		}

		&--blue {

			background-color: #4ea4ff;

		}

	}

}