.home-top {

	padding: 66px 0 158px;

	.h1 {

		max-width: 700px;
		line-height: 64px;

	}

	p {

		max-width: 570px;
		font-family: OpenSans;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		color: var(--text);
		margin: 32px 0 70px;

	}

	&__scroll-link {

		text-transform: uppercase;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 1px;
		color: var(--red);
		margin-left: 38px;
		display: inline-block;
		position: relative;
		line-height: 24px;

		&::before {

			position: absolute;
			width: 14px;
			height: 22px;
			top: -2px;
			left: -38px;
			content: '';
			border-radius: 9px;
			border: 2px solid;

		}

		&::after {

			position: absolute;
			width: 2px;
			height: 6px;
			top: 4px;
			left: -30px;
			content: '';
			border-radius: 1px;
			background-color: var(--red);

		}

	}

	&__img {

		position: absolute;
		right: 0;
		bottom: 0;

	}

}