.last-proects {

	padding: 80px 0;
	background-color: var(--bg);

	&__box {

		display: flex;
		justify-content: center;

	}

	&__item {

		margin: 0 37px;
		display: flex;

	}

	&__link {

		width: 340px;
		border-radius: 6px;
		background-color: #fff;

	}

	&__img {

		display: block;
		position: relative;
		overflow: hidden;
		border-radius: 6px 6px 0 0;
		height: 221px;
		display: flex;
		justify-content: center;
		align-items: flex-end;

		&--1 {

			background-color: #fff;

		}

		&--2 {

			background-color: #ecf2ff;

		}

		&--3 {

			background-color: #007aff;

		}

	}

	.h4 {

		color: var(--color);
		display: block;
		margin-bottom: 16px;

		span {

			border-bottom: 1px solid color(var(--red) a(50%));

		}

	}

	&__link:hover .h4 span {

		border-bottom-color: var(--red);

	}

	p {

		font-size: 16px;
		font-weight: 300;
		line-height: 28px;
		color: var(--text);
		padding: 40px 30px 41px;

	}

}