.list-article {

	padding: 45px 0;
	overflow: hidden;
	background-color: var(--bg);

	@media ($mdWidth) {

		padding: 28px 0;

	}

	@media ($smWidth) {

		padding: 10px;
		margin-left: -20px;
		margin-right: -20px;

		.swiper-container {

			margin-left: -10px;
			margin-right: -10px;
			width: auto;
			max-width: none;
			padding-bottom: 5px;
			padding-top: 20px;

			&::after,
			&::before {

				width: 10px;

			}

		}

	}

	&__box {

		display: flex;
		flex-wrap: wrap;
		margin-left: -37.5px;
		margin-right: -37.5px;

		@media ($mdWidth) {

			margin-left: -14px;
			margin-right: -14px;

			&.swiper-wrapper {

				flex-wrap: nowrap;
				margin: 0;
				display: flex !important;

				.swiper-slide {

					margin: 0;

					.list-article__link {

						width: 90%;
						margin: auto;

					}

				}

			}

		}

		@media ($smWidth) {

			margin: 0;
			display: block;

			&.swiper-wrapper {

				.list-article__link {

					width: calc(100% - 20px) !important;

				}

			}

		}

	}

	&__item {

		display: flex;
		margin: 35px 37.5px;

		@media ($mdWidth) {

			margin: 14px;

		}

		@media ($smWidth) {

			margin: 30px 0;

		}

	}

	&__link {

		width: 340px;
		border-radius: 6px;
		background-color: #fff;

		@media ($smWidth) {

			width: 100%;

		}

	}

	&__img {

		display: block;
		position: relative;
		overflow: hidden;
		border-radius: 6px 6px 0 0;
		height: 221px;
		display: flex;
		justify-content: center;
		align-items: flex-end;

		img {

			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;

		}

	}

	.h4 {

		color: var(--color);
		display: block;
		margin-bottom: 16px;

		span {

			border-bottom: 1px solid color(var(--red) a(50%));

		}

	}

	&__link:hover .h4 span {

		border-bottom-color: var(--red);

	}

	p {

		font-size: 16px;
		font-weight: 300;
		line-height: 28px;
		color: var(--text);
		padding: 40px 30px 41px;

	}

	&__foot {

		display: flex;
		margin: 26px 0 9px;
		justify-content: center;

		@media ($smWidth) {

			margin: 26px 0 38px;

		}

	}

	&__next-page {

		font-size: 14px;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;

		svg {

			display: block;
			margin: 8px auto;
			content: '';
			fill: #fff;
			animation: loading 1s linear infinite;
			animation-play-state: paused;


		}

		&.is-active {

			opacity: 0.8;

			svg {

				animation-play-state: running;

			}

		}


	}

}



@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}