.visible-md,
.visible-sm,
.visible-xs {

	display: none;

}

.center {

	width: 1170px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;

}

@media ($desktop) {

	.br {

		display: block;

	}

}

@media ($mdWidth) {

	.hidden-md {

		display: none !important;

	}

	.visible-md {

		display: block;

	}

	.center {

		width: 708px;

	}

}

@media ($smWidth) {

	.hidden-sm {

		display: none !important;

	}

	.visible-sm {

		display: block;

	}

	.center {

		width: 680px;

	}

	.main {

		padding-left: 20px;
		padding-right: 20px;

	}

}

@media ($xsWidth) {

	.hidden-xs {

		display: none !important;

	}

	.visible-xs {

		display: block;

	}

}