.modal {

	flex-grow: 1;
	position: relative;
	-webkit-overflow-scrolling: touch;
	display: flex;
	z-index: 10;
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.modal-show & {

		position: relative;
		visibility: visible;
		pointer-events: auto;

	}

	&--menu	&__box {

		max-width: 310px;
		margin-left: auto;
		overflow: hidden;
		padding: 27px 20px 40px 40px;

		@media ($xsWidth) {

			max-width: 100%;

		}

	}

	&__box {

		flex-grow: 1;
		display: flex;
		background-color: var(--bg);
		color: #fff;
		padding: 60px;

		@media ($smWidth) {

			padding: 20px;

		}

	}

	&__item {

		flex-grow: 1;
		display: flex;
		visibility: hidden;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		&--request {

			transform: translateY(-50px);
			opacity: 0;
			transition: opacity .5s, transform 1s;

		}

		&--request&--active {

			transform: translateY(0);
			opacity: 1;

		}

		&--active {

			position: relative;
			visibility: visible;
			pointer-events: auto;

		}

	}

	&__box {

		display: flex;
		flex-grow: 1;
		justify-content: center;
		align-content: center;
		flex-direction: column;

	}

	&__close-btn {

		position: absolute;
		top: 47px;
		right: 47px;
		width: 40px;
		height: 40px;
		font-size: 0;
		color: transparent;

		@media ($smWidth) {

			top: 17px;
			right: 17px;

		}

		&::after,
		&::before {

			position: absolute;
			width: 24px;
			height: 2px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			margin: auto;
			background-color: #fff;
			transform: rotate(45deg);

		}

		&::before {

			width: 2px;
			height: 24px;

		}

	}

	.form {

		margin: auto;

		.h1 {

			margin-bottom: 28px;

		}

		.input-box {

			border-bottom-color: color(#d8d8d8 a(30%));

			.input {

				color: #fff;

				&:focus {

					border-bottom-color: #d8d8d8;

				}

			}

		}

	}

}

.modal-show {

	background-color: var(--bg);

	.wrapper {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		opacity: .29;

	}

}

.modal-menu {

	position: relative;
	display: flex;
	flex-direction: column;

	&__lang {

		position: relative;

	}

	.menu {

		margin: 58px 0;

	}

	&__btn {

		margin-top: auto;

		.btn {

			border-radius: 6px !important;
			height: 70px !important;
			line-height: 70px !important;
			padding: 0 65px 0 30px !important;
			font-size: 15px !important;
			letter-spacing: 1px !important;

			svg {

				display: block !important;

			}

		}

	}

}