:root {

	--color: #282828;

	--red: #ff554e;

	--text: #444;

	--bg: #191a1b;;

}

$desktop: (min-width: 1200px);
$mdWidth: (max-width: 1199px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);