{% set title = "В Турции пройдёт ежегодный семинар для сотрудников «Центрофинанс»" %}

{% set description = "Каждый год «Центрофинанс» проводит выездной обучающий семинар в турецком городке Бельдиби. Мероприятия для повышения квалификации менеджеров, скрам - мастеров и специалистов" %}

{% set headline = "В Турции пройдёт ежегодный семинар для сотрудников «Центрофинанс»" %}
{% set urlCurrent = "news-item.html" %}
{% set ogType = "article" %}
{% set ogImage236 = "img/article/og--236x236.jpg" %}
{% set ogImage = "img/article/og--1200x460.jpg" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="article">

		<header class="header-news md-joint">

			<picture>

				<source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" media="(max-width: 767px)">

				<source srcset="/img/article/new--768x460@1x.webp 1x, /img/article/new--768x460@2x.webp 2x" media="(max-width: 768px)" type="image/webp">
				<source srcset="/img/article/new--1336x460@1x.webp 1x, /img/article/new--1336x460@2x.webp 2x" media="(max-width: 1336px)" type="image/webp">
				<source srcset="/img/article/new--1720x460@1x.webp 1x, /img/article/new--1720x460@2x.webp 2x" type="image/webp">

				<source srcset="/img/article/new--768x460@1x.jpg 1x, /img/article/new--768x460@2x.jpg 2x" media="(max-width: 768px)">
				<source srcset="/img/article/new--1336x460@1x.jpg 1x, /img/article/new--1336x460@2x.jpg 2x" media="(max-width: 1336px)">
				<source srcset="/img/article/new--1720x460@1x.jpg 1x, /img/article/new--1720x460@2x.jpg 2x">

				<img class="hidden-sm" src="/img/article/new--1720x460@1x.jpg" alt="">

			</picture>

			<div class="center">

				<div class="visible-sm">

					<div class="header-news__nav-page">

						<div class="h1">Новости</div>

						<div class="header-news__nav-page-links">

							<a href="new.html">Предыдущая</a>

							<a href="new.html">Следующая</a>

						</div>

					</div>

				</div>

				<p class="header-news__delals">

					<time class="header-news__date" datetime="2018-10-04">
						4 Октября, 2018
					</time>

					<button class="header-news__like button" data-count="6">
						<span class="hidden-visible">
							+1 к рейтингу
						</span>
					</button>

				</p>

				<div class="header-news__head">
					{{ title }}
				</div>

				<ul class="tags hidden-sm">
					<li class="tags__item">
						<a href="/">Новости компании</a>
					</li>
					<li class="tags__item">
						<a href="/">Agile</a>
					</li>
				</ul>

			</div>

		</header>

		<div class="article__bg">

			<div class="article__column">

				<div class="article__content">

					<h1>Сумарный объем выдачи займов за всю историю существования компании</h1>

					<p>На 01.01.2016 года суммарный объем выдачи займов – за всю историю существования компании «Быстроденьги», основной сферой деятельности которой является предоставление краткосрочных займов, – превысил 31 млрд рублей. В 2015 году компания выдала займов на сумму 9,5 млрд рублей. Клиентская база группы составила более 2 млн человек. Порядка 80% заемщиков «Быстроденьги» являются постоянными клиентами. </p>

					<h2>Розничная сеть</h2>

					<p>Розничная сеть компании насчитывает более 500 офисов обслуживания клиентов в 184 городах России. В 2015 году, сохранив представленность «Быстроденьги» в регионах, компания начала масштабный проект по трансформации офисов в точки комплексного финансового обслуживания и теперь предлагает в них клиентам дополнительные продукты: sim-карты, кредитные отчеты, страхование от невыплат, защиту недвижимости и др.</p>

					<p>Интерес клиентов к дистанционным способам получения денежных средств вырос: по итогам года более 50% всех займов оформляется с помощью онлайн-сервиса «Турбозайм» и на предоплаченную карту компании «Быстрокарта» по звонку на горячую линию.</p>

					<p><img src="http://centrofinansverstka.sptnktest.ru/img/new.png" alt=""></p>

					<p>Средняя сумма краткосрочного займа в «Быстроденьги» остается самой низкой на рынке и составляет 5 650 рублей. Чуть больше трети заемщиков (37%) оформляют микрозаймы чаще, чем это они делали раньше. 63% клиентов стали обращаться в компанию реже или частота обращения не изменилась. При этом показатель NPL, то есть уровень просроченной задолженности 90+, снизился до 15,5%. В 2014 году он составлял 16%, в 2013 году – 17%.</p>

					<q>В 2015 году компания много внимания уделяла своему развитию. В частности, более 150 млн рублей было инвестировано в создание комплексной технологической платформы, объединяющей в себе фронт-офис, современную банковскую систему, хранилище данных, учетную систему и автоматический скоринг для оценки кредитоспособности заемщиков.</q>

					<hr>

					<iframe width="620" height="350" src="https://www.youtube.com/embed/X5u-PAbr4oI" allowfullscreen></iframe>

					<hr>

					<p>
						МФО появились в России около 17 лет назад. С тех пор, институт микрофинансирования постоянно наращивает темпы развития. Наиболее важными причинами являются:
					</p>

					<ul>
						<li>большая доступность займов, по сравнению с банковским кредитованием;</li>
						<li>расширение границ потребителей финансовых услуг (спрос на услуги МФО постоянно растет);</li>
						<li>отсутствие жёстких требований к заемщику;</li>
						<li>скорость оформления займа (обычно в день обращения).</li>
					</ul>

					<h2>h2 Разнообразие микрофинансового рынка</h2>

					<p>
						В настоящее время рынок МФО состоит из небольших организаций и крупных компаний. Специфика их работы отличается рядом особенностей. Рассмотрим подробно различия между обычной среднестатистической МФО и федеральной сетью выдачи займов «Центрофинанс».
					</p>

					<table>
						<tbody>
							<tr>
								<td>
								</td>
								<td>
									<b>Федеральная сеть выдачи займов «Центрофинанс»</b>
								</td>
								<td>
									<b>Обычная микрофинансовая организация</b>
								</td>
							</tr>
							<tr>
								<td>
									<b>Масштаб сети обслуживания</b>
								</td>
								<td>
									На начало 2017 года открыто более <a href="https://centrofinans.ru/o-kompanii/">700 офисов</a> обслуживания клиентов в 61 регионе России.
								</td>
								<td>
									Представлена, как правило, в одном городе или регионе.
								</td>
							</tr>
							<tr>
								<td>
									<b>Темп развития компании </b>
								</td>
								<td>
									Стабильное продвижение на финансовом рынке без спадов рейтинга. Постоянное развитие сети офисов обслуживания.
								</td>
								<td>
									Маленькие компании не выдерживают конкуренции и часто ликвидируются.
								</td>
							</tr>
							<tr>
								<td>
									<b>Стаж работы на финансовом рынке</b>
								</td>
								<td>
									Компания существует на рынке МФО с 2009 года и зарекомендовала себя как надежный финансовый партнер.
								</td>
								<td>
									Сравнительно небольшой возраст компании, а значит и небольшой опыт в сфере предоставления финансовых услуг.
								</td>
							</tr>
							<tr>
								<td>
									<b>Востребованность</b>
								</td>
								<td>
									Высокий уровень доверия среди населения - более 500 000 заемщиков ежедневно пользуются услугами компании и рекомендуют нашу компанию знакомым, друзьям и родственникам.
								</td>
								<td>
									Ограниченный круг клиентов в связи с невыгодными условиями кредитования.
								</td>
							</tr>
							<tr>
								<td>
									<b>Уровень квалификации сотрудников</b>
								</td>
								<td>
									Команда состоит исключительно из профессионалов, прошедших серьезный отбор при приеме на работу.
								</td>
								<td>
									Текучесть персонала.
								</td>
							</tr>
							<tr>
								<td>
									<b>Условия предоставления займа</b>
								</td>
								<td>
									<ul>
										<li>Возраст 21-75 лет;</li>
										<li>паспорт;</li>
										<li>дополнительный документ.</li>
									</ul>
								</td>
								<td>
									<ul>
										<li>Возраст с 18 лет;</li>
										<li>паспорт и второй документ;</li>
										<li>дополнительно могут потребовать: залог, поручительство третьих лиц, а также комиссию за обслуживание.</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>
									<b>Процедура получения микрокредита</b>
								</td>
								<td>
									Два способа оформления:
									<ol>
										<li>
											<a title="оставить онлайн-заявку" href="https://centrofinans.ru/zaimy/">подать предварительную заявку онлайн</a> на сайте компании: просто укажите сумму, срок выдачи кредита, контактные данные. Менеджер незамедлительно свяжется с вами, проконсультирует и пригласит в офис;
										</li>
										<li>
											оформление кредита <a title="узнать адреса офисов" href="https://centrofinans.ru/adresa-ofisov/">при посещении офиса</a>.
										</li>
									</ol>
								</td>
								<td>
									<ul>
										<li>Оформление заявки онлайн и получение наличных курьером; </li>
										<li>оформление кредита при посещении офиса;</li>
										<li>получение кредита онлайн на карту или кошелек (дистанционные способы получения кредита часто сопровождаются комиссиями за открытие счета, вывод денег, снятие в банкомате, получение перевода. В итоге сумма займа значительно уменьшается).</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>
									<b>Негативные последствия при просрочке платежа</b>
								</td>
								<td>
									Компания не заинтересована в ухудшении финансовой ситуации своих клиентов и всячески идет навстречу клиентам, которые не в состоянии своевременно погасить заём. При образовании просрочки сотрудник компании свяжется с клиентом и предложит переоформить договор займа или перенести дату платежа. В индивидуальном порядке рассматриваются меры по выходу из сложившейся ситуации: щадящий график оплаты, вплоть до полной приостановки начисления процентов.
								</td>
								<td>
									<ul>
										<li>Порча кредитной истории;</li>
										<li>штрафы;</li>
										<li>увеличение процентной ставки;</li>
										<li>перепродажа долговых обязательств третьим лицам (коллекторские агентства, «частники-вышибалы»).</li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>

					<p>
						Таблица наглядно демонстрирует преимущества сотрудничества с крупными стабильными финансовыми игроками, такими, как <strong>«Центрофинанс»</strong>.<br>
						Не стоит тратить время и рисковать, обращаясь в малоизвестные компании с сомнительной репутацией. Лучше обратиться в крупную и стабильную компанию.
					</p>

					<h3> h3«Центрофинанс» поможет решить финансовые вопросы максимально эффективно!</h3>

					<p>
						<img src="//opt-918973.ssl.1c-bitrix-cdn.ru/upload/medialibrary/4c8/360_mny.jpg?148828825719131" alt="">
					</p>

					<h2>h2 Инструкция получения выгодного займа</h2>

					<h4>h4 <u>Безукоризненный заём должен быть:</u></h4>

					<ul class="marker-circle">
						<li>Доступным для всех групп граждан;</li>
						<li>Выгодным;</li>
						<li>С удобным графиком погашения;</li>
						<li>Быстрым в оформлении;</li>
						<li>Лояльным;</li>
						<li>Безопасным.</li>
					</ul>

					<p>
						<b>Заём, <i>обладающий</i> всеми вышеуказанными качествами, выдает «Центрофинанс»</b>
					</p>

					<p>
						<img src="//opt-918973.ssl.1c-bitrix-cdn.ru/upload/medialibrary/51f/360_offs.jpg?148828826623394" title="офис выдачи займов Центрофинанс">
					</p>

					<h4>h4 Выбирай займ согласно своим <strong>индивидуальным предпочтениям</strong>:</h4>
					<ul class="marker-square">
						<li>«<b>Простой</b>» - на сумму от 1 000 до 15 000 рублей сроком до 30 дней;</li>
						<li>«<b>Долгосрочный</b>» - от 10 000 до 20 000 рублей на срок до полугода;</li>
						<li>«<b>Пенсионный</b>» - от 1 000 до 30 000 рублей сроком до 35 дней.</li>
					</ul>

					<p>Займ <b>доступен для всех категорий граждан</b> (пенсионеров, студентов, матерей-одиночек, неофициально трудоустроенных). Офисы компании находятся даже в удаленных уголках России. </p>

					<p><a title="список акций" href="https://centrofinans.ru/akcii/"><b>Низкая процентная ставка</b></a> для льготников и постоянных клиентов. </p>

					<p><b>Кредитование <a title="акция для пенсионеров" href="https://centrofinans.ru/akcii/aktsiya-dlya-pensionerov/">пенсионеров</a></b> (военных, работающих, не работающих) по сниженной процентной ставке.</p>

					<p class="marker-p">
						Мы понимаем важность качественного, <a title="список популярных вопросов и ответов" href="https://centrofinans.ru/vopros-otvet/">понятного</a> сервиса для людей старшего поколения. Получение кредита через интернет для пенсионеров не всегда является комфортным. Лучше обратиться <a title="узнать адрес и телефон офиса" href="https://centrofinans.ru/kontakty/">в офис</a> компании и получить консультацию от опытного и доброжелательного сотрудника.
					</p>

					<h4 class="marker-disk">h4 <b>Выдача кредита наличными</b> более удобна, нежели другие способы:</h4>

					<ul class="marker-dash">
						<li>За кредитные карты часто взимается плата за обслуживание и выпуск, их «зажёвывает» банкомат, создавая дополнительные проблемы клиенту;</li>
						<li>период бесплатного пользования не всегда понятен - с момента получения карты или с момента совершения покупок;</li>
						<li>бесплатный период не предусмотрен, если снять с кредитной карты наличные;</li>
						<li>для вывода виртуальных денег; затрачиваются временные и финансовые ресурсы.
							<ul class="marker-arrow">
								<li><b>Лояльность</b> выражается в приемлемых условиях погашения. Клиенту предоставляется право:</li>
								<li>досрочно отдать долг; </li>
								<li>продлить срок выплаты. </li>
							</ul>
						</li>
						<li>Выдача кредита по двум документа и только при личном присутствии, делает оформление полностью <b>безопасным.</b></li>
					</ul>

					<h3 class="align-center">Посетите офис «Центрофинанс»!<br>Наши квалифицированные специалисты решат вашу финансовую проблему в течение 15 минут.</h3>

					<hr>

					<h2>Сумарный объем выдачи займов за всю историю существования компании </h2>

					<p>На 01.01.2016 года суммарный объем выдачи займов – за всю историю существования компании «Быстроденьги», основной сферой деятельности которой является предоставление краткосрочных займов, – превысил 31 млрд рублей. В 2015 году компания выдала займов на сумму 9,5 млрд рублей. Клиентская база группы составила более 2 млн человек. Порядка 80% заемщиков «Быстроденьги» являются постоянными клиентами.</p>

					<h3>Розничная сеть</h3>

					<p>Розничная сеть компании насчитывает более 500 офисов обслуживания клиентов в 184 городах России. В 2015 году, сохранив представленность «Быстроденьги» в регионах, компания начала масштабный проект по трансформации офисов в точки комплексного финансового обслуживания и теперь предлагает в них клиентам дополнительные продукты: sim-карты, кредитные отчеты, страхование от невыплат, защиту недвижимости и др.</p>

					<blockquote>В 2015 году компания много внимания уделяла своему развитию. В частности, более 150 млн рублей было инвестировано в создание комплексной технологической платформы, объединяющей в себе фронт-офис, современную банковскую систему, хранилище данных, учетную систему и автоматический скоринг для оценки кредитоспособности заемщиков. </blockquote>

					<p>Средняя сумма краткосрочного займа в «Быстроденьги» остается самой низкой на рынке и составляет 5 650 рублей. Чуть больше трети заемщиков (37%) оформляют микрозаймы чаще, чем это они делали раньше. 63% клиентов стали обращаться в компанию реже или частота обращения не изменилась. При этом показатель NPL, то есть уровень просроченной задолженности 90+, снизился до 15,5%. В 2014 году он составлял 16%, в 2013 году – 17%.</p>

					<ul class="marker-square">

						<li>внимательно читайте договор займа. Убедитесь, что там нет пункта о перепродаже долга без вашего согласия;</li>

						<li>убедитесь, что МФО не прибегает к услугам коллекторских агентств. Как правило, крупной организации это просто не нужно. Она дорожит репутацией и действует в рамках закона. Хороший способ убедиться в серьёзности МФО — найти её в списке реестра Центробанка. О том, как это сделать, мы писали в <a href="/novosti/kak-proverit-mfo/" target="_blank" title="Как проверить МФО">данной статье</a>;</li>

						<li>удостоверьтесь в том, что в договоре чётко прописана окончательная сумма к выплате и вам точно понятно, сколько составляет ваша итоговая переплата вместе с процентами. Например, воспользуйтесь кредитным калькулятором при <a href="/zaimy/" target="_blank" title="Офомить онлайн-заявку на заём">оформлении займа онлайн</a> на сайте «Центрофинанс».</li>

					</ul>

					<ul class="marker-arrow">

						<li>внимательно читайте договор займа. Убедитесь, что там нет пункта о перепродаже долга без вашего согласия;</li>

						<li>убедитесь, что МФО не прибегает к услугам коллекторских агентств. Как правило, крупной организации это просто не нужно. Она дорожит репутацией и действует в рамках закона. Хороший способ убедиться в серьёзности МФО — найти её в списке реестра Центробанка. О том, как это сделать, мы писали в <a href="/novosti/kak-proverit-mfo/" target="_blank" title="Как проверить МФО">данной статье</a>;</li>

						<li>удостоверьтесь в том, что в договоре чётко прописана окончательная сумма к выплате и вам точно понятно, сколько составляет ваша итоговая переплата вместе с процентами. Например, воспользуйтесь кредитным калькулятором при <a href="/zaimy/" target="_blank" title="Офомить онлайн-заявку на заём">оформлении займа онлайн</a> на сайте «Центрофинанс».</li>

					</ul>

					<ul class="marker-dash">

						<li>внимательно читайте договор займа. Убедитесь, что там нет пункта о перепродаже долга без вашего согласия;</li>

						<li>убедитесь, что МФО не прибегает к услугам коллекторских агентств. Как правило, крупной организации это просто не нужно. Она дорожит репутацией и действует в рамках закона. Хороший способ убедиться в серьёзности МФО — найти её в списке реестра Центробанка. О том, как это сделать, мы писали в <a href="/novosti/kak-proverit-mfo/" target="_blank" title="Как проверить МФО">данной статье</a>;</li>

						<li>удостоверьтесь в том, что в договоре чётко прописана окончательная сумма к выплате и вам точно понятно, сколько составляет ваша итоговая переплата вместе с процентами. Например, воспользуйтесь кредитным калькулятором при <a href="/zaimy/" target="_blank" title="Офомить онлайн-заявку на заём">оформлении займа онлайн</a> на сайте «Центрофинанс».</li>

					</ul>

					<ul class="marker-circle">

						<li>внимательно читайте договор займа. Убедитесь, что там нет пункта о перепродаже долга без вашего согласия;</li>

						<li>убедитесь, что МФО не прибегает к услугам коллекторских агентств. Как правило, крупной организации это просто не нужно. Она дорожит репутацией и действует в рамках закона. Хороший способ убедиться в серьёзности МФО — найти её в списке реестра Центробанка. О том, как это сделать, мы писали в <a href="/novosti/kak-proverit-mfo/" target="_blank" title="Как проверить МФО">данной статье</a>;</li>

						<li>удостоверьтесь в том, что в договоре чётко прописана окончательная сумма к выплате и вам точно понятно, сколько составляет ваша итоговая переплата вместе с процентами. Например, воспользуйтесь кредитным калькулятором при <a href="/zaimy/" target="_blank" title="Офомить онлайн-заявку на заём">оформлении займа онлайн</a> на сайте «Центрофинанс».</li>

					</ul>

					<table>
						<tbody>
							<tr>
								<td>
								</td>
								<td>
									<b>Федеральная сеть выдачи займов «Центрофинанс»</b>
								</td>
								<td>
									<b>Обычная микрофинансовая организация</b>
								</td>
							</tr>
							<tr>
								<td>
									<b>Масштаб сети обслуживания</b>
								</td>
								<td>
									На начало 2017 года открыто более <a title="о компании" href="https://centrofinans.ru/o-kompanii/">700 офисов</a> обслуживания клиентов в 61 регионе России.
								</td>
								<td>
									Представлена, как правило, в одном городе или регионе.
								</td>
							</tr>
							<tr>
								<td>
									<b>Темп развития компании </b>
								</td>
								<td>
									Стабильное продвижение на финансовом рынке без спадов рейтинга. Постоянное развитие сети офисов обслуживания.
								</td>
								<td>
									Маленькие компании не выдерживают конкуренции и часто ликвидируются.
								</td>
							</tr>
							<tr>
								<td>
									<b>Стаж работы на финансовом рынке</b>
								</td>
								<td>
									Компания существует на рынке МФО с 2009 года и зарекомендовала себя как надежный финансовый партнер.
								</td>
								<td>
									Сравнительно небольшой возраст компании, а значит и небольшой опыт в сфере предоставления финансовых услуг.
								</td>
							</tr>
							<tr>
								<td>
									<b>Востребованность</b>
								</td>
								<td>
									Высокий уровень доверия среди населения - более 500 000 заёмщиков рекомендуют нашу компанию знакомым, друзьям и родственникам.
								</td>
								<td>
									Ограниченный круг клиентов в связи с невыгодными условиями кредитования.
								</td>
							</tr>
							<tr>
								<td>
									<b>Уровень квалификации сотрудников</b>
								</td>
								<td>
									Команда состоит исключительно из профессионалов, прошедших серьезный отбор при приеме на работу.
								</td>
								<td>
									Текучесть персонала.
								</td>
							</tr>
							<tr>
								<td>
									<b>Условия предоставления займа</b>
								</td>
								<td>
									<ul>
										<li>
										Возраст 21-75 лет;</li>
										<li>
										паспорт;</li>
										<li>
										дополнительный документ.</li>
									</ul>
								</td>
								<td>
									<ul>
										<li>
										Возраст с 18 лет;</li>
										<li>
										паспорт и второй документ;</li>
										<li>
										дополнительно могут потребовать: залог, поручительство третьих лиц, а также комиссию за обслуживание.</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>
									<b>Процедура получения микрокредита</b>
								</td>
								<td>
									Два способа оформления:
									<ol>
										<li>
											<a title="оставить онлайн-заявку" href="https://centrofinans.ru/zaimy/">подать предварительную заявку онлайн</a> на сайте компании: просто укажите сумму, срок выдачи кредита, контактные данные. Менеджер незамедлительно свяжется с вами, проконсультирует и пригласит в офис;
										</li>
										<li>
											оформление кредита <a title="узнать адреса офисов" href="https://centrofinans.ru/adresa-ofisov/">при посещении офиса</a>.
										</li>
									</ol>
								</td>
								<td>
									<ul>
										<li>
											Оформление заявки онлайн и получение наличных курьером;
										</li>
										<li>
											оформление кредита при посещении офиса;
										</li>
										<li>
											получение кредита онлайн на карту или кошелек (дистанционные способы получения кредита часто сопровождаются комиссиями за открытие счета, вывод денег, снятие в банкомате, получение перевода. В итоге сумма займа значительно уменьшается).
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>
									<b>Негативные последствия при просрочке платежа</b>
								</td>
								<td>
									Компания не заинтересована в ухудшении финансовой ситуации своих клиентов и всячески идет навстречу клиентам, которые не в состоянии своевременно погасить заём. При образовании просрочки сотрудник компании свяжется с клиентом и предложит переоформить договор займа или перенести дату платежа. В индивидуальном порядке рассматриваются меры по выходу из сложившейся ситуации: щадящий график оплаты, вплоть до полной приостановки начисления процентов.
								</td>
								<td>
									<ul>
										<li>
											Порча кредитной истории;
										</li>
										<li>
											штрафы;
										</li>
										<li>
											увеличение процентной ставки;
										</li>
										<li>
											перепродажа долговых обязательств третьим лицам (коллекторские агентства, «частники-вышибалы»).
										</li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>

				</div>

				<footer class="article__footer">

					<div class="article__siblings">

						<a class="article__siblings-prev" href="/" data-label="Предыдущая новость">
							<span class="hidden-sm">Личный кабинет: по-новому, но ещё удобнее!</span>
						</a>

						<a class="article__siblings-next" href="/" data-label="Следующая новость">
							<span class="hidden-sm">Девятый день рождения «Центрофинанс»</span>
						</a>

					</div>

				</footer>

			</div>

			<div class="subscribe subscribe--bg">

				<form class="subscribe__form">

					<p class="subscribe__head h3">
						Подпишись на еженедельную рассылку актуальных новостей:
					</p>

					<div class="subscribe__box">

						<input type="email" class="subscribe__input input" name="USER_EMAIL" placeholder="ivanov@gmail.com">

						<button class="subscribe__btn btn" data-mobile="Ок">
							Подписаться
						</button>

					</div>

				</form>

			</div>

		</div>

	</article>

{% set previewHead = "Похожие новости" %}
{% include "_include/preview-list--related.html" %}

{% include "_include/promo.html" %}

{% endblock %}