{% set title = "Applica" %}

{% set description = "Web & Mobile Applications Design, Development" %}

{% set hideBreadcrumbs = true %}
{% extends "template/base.html" %}

{% block content %}

	<article>

		<div class="home-top">

			<div class="center">

				<h1 class="h1">
					Web & Mobile Applications Design, Development
				</h1>

				<p>
					I wanted to start designing some ideas that for a long time I had only  on paper and stored on my cell phone, I decided to look for some  challenge, something that makes more sense with what I thought.
				</p>

				<a href="#" class="home-top__scroll-link">
					Scroll to see more
				</a>

			</div>

			<div class="home-top__img">

				<picture>

					<source srcset="/img/home-top--320@1x.webp 1x, /img/home-top--320@2x.webp 2x" media="(max-width: 767px)" type="image/webp">
					<source srcset="/img/home-top@1x.webp 1x, /img/home-top@2x.webp 2x" type="image/webp">

					<source srcset="/img/home-top--320@1x.png 1x, /img/home-top--320@2x.png 2x" media="(max-width: 767px)">
					<source srcset="/img/home-top@1x.png 1x, /img/home-top@2x.png 2x">

					<img src="/img/home-top@1x.png" alt="">

				</picture>

			</div>

		</div>

		<div class="center">

{% include "_include/home-card.html" %}

			<div class="home-applications">

				<h2 class="h1">
					Web & Mobile Applications
				</h2>

				<p>
					Earlier this year (January 2018). I started to think about how I could improve my  design skills and attract more customers. I wanted to start designing some ideas  that for a long time I had only on paper and stored on my cell phone, I decided to  look for some challenge, something that makes more sense with what I thought. I  saw that many designers (especially in dribbble) made a daily user interface, I really  liked the idea, but the problem was that the result was just something nice and did  not solve any problem.
				</p>

				<p>
					I didn&apos;t want to just draw something nice; I wanted to create real solutions to real  problems, develop designs that make sense and inspire others to come up with  more ideas. And so I settled on making my own personal challenge with the goal of  not only improving and showing off my design skills, but also improving my ability to  understand, observe and solve problems faster.
				</p>

			</div>

{% include "_include/home-we-build.html" %}

		</div>

	</article>

{% include "_include/last-proects.html" %}

{% include "_include/our-clients.html" %}

{% endblock %}