{% set title = "Applica" %}

{% set description = "Web & Mobile Applications Design, Development" %}

{% extends "template/base.html" %}

{% block content %}

	<article>

		<div class="home-top">

			<div class="center">

				<h1 class="h1">
					Web & Mobile Applications Design, Development
				</h1>

				<p>
					I wanted to start designing some ideas that for a long time I had only  on paper and stored on my cell phone, I decided to look for some  challenge, something that makes more sense with what I thought.
				</p>

				<a href="#" class="home-top__scroll-link">
					Scroll to see more
				</a>

			</div>

			<div class="home-top__img">

				<picture>

					<source srcset="/img/home-top--360@1x.webp 1x, /img/home-top--360@2x.webp 2x" media="(max-width: 767px)" type="image/webp">
					<source srcset="/img/home-top@1x.webp 1x, /img/home-top@2x.webp 2x" type="image/webp">

					<source srcset="/img/home-top--360@1x.png 1x, /img/home-top--360@2x.png 2x" media="(max-width: 767px)">
					<source srcset="/img/home-top@1x.png 1x, /img/home-top@2x.png 2x">

					<img src="/img/home-top@1x.png" alt="">

				</picture>

			</div>

		</div>

		<div class="center">

			<div class="portfolio portfolio--home">

{% set portfolio = [
	{
		title: "AznToday",
		link: "",
		img: "azn",
		bg: "dark-violet",
		text: "Current information on the exchange rate of Azerbaijan <span class=\"br\"></span>in your pocket",
		appStore : true
	},
	{
		title: "Horoscope",
		link: "",
		img: "horoscope",
		bg: "dark-blue",
		text: "Unique application that <span class=\"br\"></span>allows you to know your <span class=\"br\"></span>destiny right now",
		appStore : true
	},
	{
		title: "Armenian MTV",
		link: "",
		img: "mtv",
		bg: "cherry",
		text: "Round-the-clock broadcasts <span class=\"br\"></span>of popular Armenian videos <span class=\"br\"></span>in HD format",
		platform: "googlePlay"
	},
	{
		title: "World Cup 2018",
		link: "",
		img: "word-cup-2018",
		bg: "green",
		text: "This app provides you with information about the 2018 FIFA&nbsp;World&nbsp;Cup",
		appStore : true
	}
] %}

{% include "_include/portfolio.html" %}

			</div>

			<div class="home-applications">

				<h2 class="h1">
					Web & Mobile Applications
				</h2>

				<p>
					Earlier this year (January 2018). I started to think about how I could improve my  design skills and attract more customers. I wanted to start designing some ideas  that for a long time I had only on paper and stored on my cell phone, I decided to  look for some challenge, something that makes more sense with what I thought. I  saw that many designers (especially in dribbble) made a daily user interface, I really  liked the idea, but the problem was that the result was just something nice and did  not solve any problem.
				</p>

				<p>
					I didn&apos;t want to just draw something nice; I wanted to create real solutions to real  problems, develop designs that make sense and inspire others to come up with  more ideas. And so I settled on making my own personal challenge with the goal of  not only improving and showing off my design skills, but also improving my ability to  understand, observe and solve problems faster.
				</p>

			</div>

{% include "_include/home-we-build.html" %}

		</div>

	</article>

{% set list = [
	{
		title: "How to write the right letter to  the development studio",
		link: "Spotify-App-for-macOS-Mojave-Sketch-Resource",
		img: "1",
		text: "What to write about yourself and your  project in the first letter, so that the  studio does not pass by?"
	},
	{
		title: "Design Lynch: a new version  of&nbsp;Skype",
		link: "Spotify-App-for-macOS-Mojave-Sketch-Resource",
		img: "2",
		text: "Paper 53, Tayasui Sketches, Procreate  and Medibang Paint - what to choose?  Designer&apos;s opinion"
	},
	{
		title: "Digest of the Internet of  things: October 2017",
		link: "Spotify-App-for-macOS-Mojave-Sketch-Resource",
		img: "3",
		text: "We run it reluctantly, but we can not  do without it yet - Skype, now in a new  design. Comparing with the…"
	}
] %}

{% include "_include/list-article.html" %}

{% include "_include/our-clients.html" %}

{% include "_include/request.html" %}

{% endblock %}